$primary-color: #ffefe7;
$secundary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$quaternary-color: #fa9500;
$font-stack: "IBM Plex Sans", sans-serif;

@mixin grid($number, $columns, $gap, $align: null) {
  display: grid;
  grid-template-columns: repeat($number, $columns);
  gap: $gap;
  align-items: $align;
}

@mixin flex($direction, $content: null, $align: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin buttonStyle {
  button {
    background: none;
    border-style: none;
    cursor: pointer;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-color;
  font-family: $font-stack;
  font-size: 1.6rem;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h2 {
  color: $primary-text-color;
  font-size: 3.2rem;
  text-align: center;
  @media (min-width: 768px) {
    text-align: start;
  }
}

// Section header styles
.nav {
  width: 100%;

  &__container {
    padding: 4rem 2rem;
    @include flex(row, space-between, center);
    color: $primary-text-color;
  }

  &__logo {
    font-size: 2.5rem;
  }

  &__icons {
    display: flex;
    gap: 15px;
    @include buttonStyle;
  }
}

// Section hero styles
.hero {
  width: 100%;
  padding: 3rem 0;
  @media (min-width: 768px) {
    padding: 6rem 0;
  }

  &__container {
    @include grid(1, 1fr, 25px, center);
    @media (min-width: 768px) {
      @include grid(2, 1fr, 25px, center);
    }
  }

  &__info {
    @include flex(column);
    gap: 25px;
  }

  &__title {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    text-align: center;
    @media (min-width: 768px) {
      text-align: start;
    }
  }

  &__paragraph {
    font-size: 2rem;
    max-width: 650px;
    line-height: 1.5;
    text-align: center;
    @media (min-width: 768px) {
      text-align: start;
    }
  }

  &__image {
    width: 80vw;
    justify-self: center;
    @media (min-width: 768px) {
      width: 25vw;
      justify-self: flex-end;
    }

    img {
      border-radius: 19px;
      -webkit-border-radius: 19px;
      -moz-border-radius: 19px;
      -ms-border-radius: 19px;
      -o-border-radius: 19px;
    }
  }

  @include buttonStyle;
  button {
    width: 50%;
    align-self: center;
    @media (min-width: 768px) {
      align-self: flex-start;
      width: 12vw;
    }

    padding: 20px;
    background-color: $quaternary-color;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    color: white;
    font-size: 1em;
    &:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transition: transform ease-out 0.3s;
      -webkit-transition: transform ease-out 0.3s;
      -moz-transition: transform ease-out 0.3s;
      -ms-transition: transform ease-out 0.3s;
      -o-transition: transform ease-out 0.3s;
    }
  }
}

// Section main styles
.main {
  width: 100%;
  padding: 3rem 0;
  @media (min-width: 768px) {
    padding: 6rem 0;
  }

  &__healthcare {
    h2 {
      font-weight: 300;
    }
  }
}

.healthcare {
  width: 100%;
  padding: 4rem 0;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  @media (min-width: 768px) {
    padding: 6rem 0;
    @include flex(row, space-evenly, center);
    flex-wrap: wrap;
    gap: 100px;
  }

  &__card {
    max-width: 250px;
    height: auto;
    background-color: $secundary-color;
    color: $primary-text-color;
    padding: 20px;
    border-radius: 8px;
    scroll-snap-align: center;
    flex: 0 0 100%;
  }

  &__icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;

    svg {
      path {
        stroke: currentColor;
      }
      width: 28px;
      height: 28px;
      color: #7c6a0a;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    @include flex(row, center, center);
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
    }
  }

  &__paragraph {
    margin-top: 0.5rem;
    line-height: 1.2;
  }
}

.furniture {
  @extend .healthcare;

  &__card {
    @extend .healthcare__card;
    background-color: $tertiary-color;
    color: white;
  }

  &__icon {
    @extend .healthcare__icon;
    svg {
      path {
        stroke: currentColor;
      }
      color: white;
    }
  }

  &__image {
    @extend .healthcare__image;
  }

  &__paragraph {
    @extend .healthcare__paragraph;
  }
}

// Section About Us
.about {
  padding: 3rem 0;
  @media (min-width: 768px) {
    padding: 6rem 0;
  }

  width: 100%;

  &__us {
    padding: 50px 0;
    @include grid(1, 1fr, 25px, center);
    @media (min-width: 768px) {
      @include grid(2, 1fr, 25px, center);
    }
  }

  &__paragraph {
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    color: #e86424;
  }

  &__image {
    img {
      object-fit: cover;
    }
  }

  &__earth {
    @include flex(column, center, center);
    gap: 40px;
    @media (min-width: 768px) {
      @include flex(row, space-evenly, center);
      gap: 40px;
    }
  }

  &__innovation {
    @extend .about__earth;
  }
}

// Section gellery styles
.gallery {
  padding: 3rem 0;

  @media (min-width: 768px) {
    padding: 6rem 0;
  }

  &__images {
    padding: 50px 0;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    @media (min-width: 768px) {
      @include flex(row, space-between, center);
      img {
        width: 28vw;
        height: 45vh;
        object-fit: cover;
        object-position: 5px 35%;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;

        &:hover {
          transform: scale(0.9);
          -webkit-transform: scale(0.9);
          -moz-transform: scale(0.9);
          -ms-transform: scale(0.9);
          -o-transform: scale(0.9);
          transition: transform ease-out 0.3s;
          -webkit-transition: transform ease-out 0.3s;
          -moz-transition: transform ease-out 0.3s;
          -ms-transition: transform ease-out 0.3s;
          -o-transition: transform ease-out 0.3s;
        }
      }

      img {
        scroll-snap-align: center;
      }
    }
  }
}

// Section location styles
.location {
  width: 100%;
  padding: 4rem 0;
  @media (min-width: 768px) {
    padding: 6rem 0;
  }
  &__map {
    padding: 50px 0 25px;
  }

  &__title,
  &__paragraph {
    color: #e86424;
    font-size: 2rem;
    line-height: 1.5;
  }
}

// Section footer styles
footer {
  padding: 6rem 0;
  height: auto;
  $background: $quaternary-color;
  background-color: $background;
  color: white;
  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  .social-media {
    margin-top: 5rem;
    @include flex(row, center, center);
    gap: 40px;
  }
}
